<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Shopping Cart</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShoppingCart()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="checkout()">
      <div class="list">
        <div class="item item-thumbnail-left" ng-repeat="item in myOrders">
          <img ng-src="{{item.img}}">
          <h2>{{item.title}}</h2>
          <p>{{item.price | currency}}</p>
          <button class="button icon ion-minus-round" ng-click="removefromdCart(item)"></button>
        </div>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Check Out</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>