<ion-view>
	<ion-content>
		<div class="item item-body">
			<div class="list">
				<div class="item item-thumbnail-left" ng-repeat="dish in restaurant.restaurantMenu.L | filter:dishType">
					<div class="row">
						<div class="col"><img img-url-from-cdn="{{dish.M.dishThumbnail.S}}"></div>
						<div class="col"><h2>{{dish.M.name.S}}</h2></div>
						<div class="col"><p>{{dish.M.price.N | currency}}</p></div>
						<div class="col"><button class="button icon ion-plus-round" ng-click="addToCart(dish)"></button></div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>