<ion-view>
	<ion-content>
		<div class="item item-body">
			<div class="card">
				<div class="item item-image">
					<img ng-src="{{ restaurant.restaurantThumbnail.S }}">
				</div>
				<div class="item item-text-wrap">
					<p>餐厅简介: {{ restaurant.restaurantDescription.S }}</p>
					<p>餐厅联系电话: {{ restaurant.restaurantContactNumber.S }}</p>
				</div>
			</div>
			
			<div class="list">
				<ion-item ng-click="dishList(type)" ng-repeat="dishType in restaurant.restaurantMenu.L | unique:'M.category.S'">
					<div class="row">
						<div class="col-10"><span>{{ dishType.M.category.S }}</span></div>
						<div class="col-80"></div>
						<div class="col-10 ion-chevron-right"></div>
					</div>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ion-view>