<ion-view view-title="checkout">
  <ion-content>
    <form ng-submit="checkout(address, contactNum, selectedPaymentMethod)">

      	<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-location placeholder-icon"></i>
				<input ng-model="address" type="text" placeholder="配送地址">
			</label>

			<label class="item item-input">
				<i class="icon ion-ios-telephone placeholder-icon"></i>
				<input ng-model="contactNum" type="text" placeholder="联系电话">
			</label>

			<label class="item item-input item-select">
				<div class="input-label">
					付款方式
				</div>
				<select ng-model="selectedPaymentMethod">
					<option value="现金支付" selected>现金支付</option>
				</select>
			</label>

			<label class="item">
				<button class="button button-block button-positive" type="submit">支付</button>
			</label>
		</div>

    </form>
  </ion-content>
</ion-view>