<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button" side="right"><i class="icon ion-ios-cart-outline"></i><sup>2</sup></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader">
      <label class="item item-input item-select">
        <div class="input-label">
          美食
        </div>
        <select>
          <option selected>全部</option>
          <option>川菜</option>
          <option>粤菜</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          营业
        </div>
        <select>
          <option selected>全部</option>
          <option>营业中</option>
          <option>休息中</option>
        </select>
      </label>
    </div>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
